# dependencies
node_modules/
.vscode/
.idea/
.wix/
jsconfig.json

.vercel
.env*
*.zip
.snapshots/
Chat History/
Export The Project/
Export_For_Web/
delta-synth-web-/
wix_model.json
temp_curl.txt
temp_curl2.txt
DELTA_SYNTH/DELTA_SYNTH/
.tmp.driveupload/
Published/
src/pages/Voice/


scratch/
